@page "/"

<PageTitle>Index</PageTitle>

<h3>Om nettstedet</h3>
<p>
   Nettstedet innholder verktøy for å bistå lærere med individuell utviklingsplan (IUP) for elever.<br/>
   Verktøyene lar deg som lærer bygge opp en generell struktur på minutter. De er ikke ment til å erstatte den individuelle oppfølgingen.<br/>
</p>

<p>
   Bruk navigasjonsmenyen til venstre for velge verktøy.
</p>

<h3>Forbedringsforslag eller melde feil?</h3>
<p>
   Feil og forbedringsforslag kan meldes inn på: <a href="https://github.com/Moskoskos/TeacherResources/issues">GitHub</a>
</p>


<h3>Datainnsamling</h3>
<p>
   Nettsiden samler ikke inn bruksdata (metadata). <br/>
   Nettsiden lagrer ikke innholdet som blir ført inn.<br/>
   Det frarådes likevell å føre persondata om elever.<br/>
</p>

<p>
   Les mer om GDPR her:<br/>
   https://www.udir.no/regelverk-og-tilsyn/personvern-for-barnehage-og-skole/
</p>

<h3></h3>


