/* /Pages/Index.razor.rz.scp.css */
/* /Pages/IupLanguage.razor.rz.scp.css */
body[b-wveq7ogzw6] {
}
/* /Pages/IupMath.razor.rz.scp.css */
body[b-khv6gsersz] {
}


/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-s7t43zzchn] {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top-row[b-s7t43zzchn]
{
    flex-shrink: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #D4C5C6;
    
}

.title-link[b-s7t43zzchn] {
    text-decoration: none;
    color: white;
    
}

.navbar[b-s7t43zzchn] {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #D4C5C6;
    
}

.nav-container[b-s7t43zzchn] {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container[b-s7t43zzchn] {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding: 10px;
}

.content[b-s7t43zzchn] {
    max-width: 1200px;
    max-height: fit-content;
    width: 100%;
    background-color: #D4C5C6;
    padding: 50px;
}

/* Add this media query at the bottom of the file */
@media (max-width: 900px) {
    .container[b-s7t43zzchn] {
        padding-top: 2px; /* Reduce padding for smaller screens */
        width: 100%;
    }
    .conte[b-s7t43zzchn]
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-dwie7tztkw] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-dwie7tztkw] {
    height: 3.5rem;
    background-color: whitesmoke;
}

.navbar-brand[b-dwie7tztkw] {
    font-size: 1.1rem;
}

.oi[b-dwie7tztkw] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-dwie7tztkw] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-dwie7tztkw] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-dwie7tztkw] {
        padding-bottom: 1rem;
    }

    .nav-item[b-dwie7tztkw]  a {
        color: white;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-dwie7tztkw]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-dwie7tztkw]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
    font-size:larger;
}

@media (min-width: 900px) {
    .navbar-toggler[b-dwie7tztkw] {
        display: none;
    }

    .collapse[b-dwie7tztkw] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-dwie7tztkw] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Shared/NavMenuHorizontal.razor.rz.scp.css */
.navbar-toggler[b-rhutsts0ir] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-rhutsts0ir] {
    height: 3.5rem;
    background-color: #D4C5C6;
}

.navbar-brand[b-rhutsts0ir] {
    font-size: 1.1rem;
}

.oi[b-rhutsts0ir] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-rhutsts0ir] {
    font-size: 0.9rem;
}

.nav-item:first-of-type[b-rhutsts0ir] {
    padding-right: 1rem;
}

.nav-item:last-of-type[b-rhutsts0ir] {
    
}

.nav[b-rhutsts0ir] {
    display: flex;
    justify-content: center;
}

.nav-item[b-rhutsts0ir]  a {
    color: white;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-rhutsts0ir]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-rhutsts0ir]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
    font-size:larger;
}

@media (min-width: 900px) {
    .navbar-toggler[b-rhutsts0ir] {
        display: none;
    }

    .collapse[b-rhutsts0ir] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-rhutsts0ir] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
