@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="container">
            <div class="top-row">

<a href="/" class="title-link">
    <h1>Lærerressurser</h1>
</a>
            
                    </div>
        </div>
        <div class="navbar">
            <div class="nav-container">
                <NavMenuHorizontal/>
            </div>
        </div>

        <div class="container">
            <article class="content">
                @Body
            </article>
        </div>
    </main>
</div>