@using Microsoft.AspNetCore.Components
@using TeacherResources.Models


<text>Eksempler:</text>
<div style="display: flex; flex-wrap: wrap;">
    @foreach (var ingress in Items)
    {
        <button @onclick="(() => OnButtonClick.InvokeAsync(ingress.Text))" style="margin: 5px;">@ingress.Semester</button>
    }
</div>

@code {
    [Parameter] public List<IngressExample> Items { get; set; }
    [Parameter] public EventCallback<string> OnButtonClick { get; set; }

    public string TextboxValue { get; set; }
}
